@use '../colors';
@import '../page-body';

.view {
    @include page-body();
    color: colors.$font-color;

    &-container{
        grid-area: body;
        margin-top: 30px;
        display: grid;
        grid-template-rows: 20px 20px .05fr 1fr;
        gap: 30px;

        .journal-entry{
            &_body{
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(min-content, 10px));
                gap: 15px;

                p{
                    line-height: 20px;
                }
            }
        }
    }
}