@mixin page-body() {
    height: max-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: " body ";
    background-color: colors.$main-background;

    padding: 40px;       // space inside the page
    box-sizing: border-box;

    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
        grid-template-areas: "body";
        padding: 10px 20px 20px 20px;
    }
}